body{
    display: flex;
    overflow: hidden;
}

.marge{
    height: 100vh;
    width: 300px;
    background-color: rgb(92, 16, 92);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img{
        margin-top: 20px;
        width: 100px;
    }
    .darkModeBoutons{
        position: relative;
        span{
            position: absolute;
            bottom: 0;
        }
        .lightModeBtn{
            display: none;
        }
    }
}
.wrapper{
    display: flex;
    flex-direction: column;
   width: 100%;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgba(92, 16, 92, 0.397);
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
   a{
    text-decoration: none;
    color: rgb(92, 16, 92);
    font-size: 20px;
   }
}

.paysLeague{
    display: flex;
    align-items: center;
    width: 300px;
    font-weight: bold;
    .pays{
        padding: 15px;
        background-color: rgb(140, 98, 182);
        color: rgb(248, 245, 240);
    }
    .league{
    background-color: rebeccapurple;
    color: rgb(248, 245, 240);
    padding: 15px;
    border-radius: 0 0 10px 0;
    }
}
.matchs_quotes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
height: 100%;
width: 100%;
}


.buttons_quotes_ref{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-weight: bold;
}
.lines_matchs{
margin-left: 50px;
display: flex;
flex-direction: column;
gap: 50px;
margin-top: 100px;
.button{
border: 0;
border-radius: 10px;
padding: 15px;
cursor: pointer;
}
.active{
    background-color: rgb(226, 189, 226);
    transition: .3s all ease-in-out;
}
}
.line_match{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.randomImg{
width: 100%;
background: url(../images/bg1.webp) bottom/cover no-repeat;
position: relative;
}

.pop-up{
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
   
    .yourBets{
        width: 100%;
        background-color: rgb(92, 16, 92);
        text-align: center;
        color: rgb(226, 189, 226);
        padding: 5px;
        border-radius: 8px 8px 0 0;
    }

    .choices{
        width: 100%;
        text-align: center;
        .choice{
        display: flex;
        flex-direction: column;
        width: 100%;
            .choice_line{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 0;
                margin: 5px;
                gap: 10px;
                li{
                list-style-type: none;
                }
            }
            p{
                margin: 2px;
                color: gray;
                font-style: italic;
                font-size: 15px;
            }
        }
        .teamChoice{
            font-weight: bold;
            font-size: 20px;
        }
        .quoteChoice{
            color: gray;
        }
}
}

.dark-mode{
    background-color: rgb(75, 72, 72);
    color: rgb(248, 245, 240);
    a{
        color: rgb(248, 245, 240);
    }
}



